@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../variables/_colors.css";

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

@layer base {
  :root {
    --navbar-height: 100px;
  }
}

@layer components {
  .label-input {
    @apply font-medium mb-1.5 inline-block;
  }
}
